body{
	padding-top:40px;
	padding-bottom:40px;
	background-color:#eee;

}

.nav-title{
	text-align:center;
	vertical-align:central;
	color:#777;
	font-size:24px;
	}
	
.back{
	vertical-align:central;
	}

.greeding{
	font-size:16px;
	}

.form-signin,
.form-signup
{
	align:center;
	max-width:400px;
	
	margin:50px auto;
	}
.form-signup > input,
.form-signup > button{
	margin-top:20px;
	
	}
	
#searchResultList{
	width:100%;
}
	

@media (max-width:767px){
	#remember-me{
		visibility:hidden;
		}
	
	}

	/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}


.drop-scoring {
	background: white;
	color: black;
    background-size:90% 90%;
    height:40px;
	display:none;
	text-align: center;
}

input.time {
    font-size: 13px;
    padding: 3px;
    background: #fff;
    border: 1px solid #aac;
    width: 115px;
}

input.date {
    font-size: 13px;
    padding: 3px;
    background: #fff;
    border: 1px solid #aac;
    width: 160px;
}

#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
#requirementsText{
    text-align: center;

}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}
